<module>
<!--@POSTPROC: ./postproc.sh-->
<!--TODO: There's a bug in the tracklog. Possible replication steps:
     1. Enable tracklog
     2. Create 'Setting up Trap' record
     3. Save   'Setting up Trap' record
     4. ???-->

<rels>
  <RelationshipElement name="TransectSUI">
    <description>Defines relationship between Transect and Survey Unit</description>
  </RelationshipElement>
</rels>

<Login f="nodata">
  <Login f="noscroll">
    <Login t="list" f="nolabel user" l="Start"/>
  </Login>
</Login>

<Start f="nodata">
  <Main>
    <Guide t="webview" f="nolabel"/>
    <Setting_up_Trap     l="Setup_Trap"/>
    <Checking_Trap       l="Check_Trap"/>
    <Animal_outside_Trap l="Animal_outside"/>
    <DNA_Sample          l="DNA_Sample"/>
    <Plant_Survey        l="Plant_Survey"/>
    <Cultural_Knowledge  l="Cultural_Knowledge"/>
    <Notes               l="Notes"/>
  </Main>
  <Tracklog>
    <internalExternalGPS t="radio">
      Choose which GPS to connect to:
      <opts>
        <opt>Internal</opt>
        <opt>External</opt>
      </opts>
    </internalExternalGPS>
    <cols>
      <col>
        <refreshText b="decimal">
          GPS Refresh Rate (s)
        </refreshText>
      </col>
      <col>
        <startGPSButton t="button">Start GPS</startGPSButton>
        <stopGPSButton  t="button"> Stop GPS </stopGPSButton>
      </col>
    </cols>
    <cols>
      <trackdistText b="decimal">Tracklog Distance Interval (m)</trackdistText>
      <trackdistButton t="button">Set Tracklog Distance Interval</trackdistButton>
    </cols>
    <cols>
      <tracktimeText b="decimal">Tracklog Time interval (s)</tracktimeText>
      <tracktimeButton t="button">Set Tracklog Time Interval</tracktimeButton>
    </cols>
    <trackOffButton t="button">Tracklog Off</trackOffButton>
    <trackStatus f="readonly" b="string">Tracklog Status</trackStatus>
    <SyncOn t="button">Sync On</SyncOn>
    <SyncOff t="button">Sync Off</SyncOff>
  </Tracklog>
  <Map f="noscroll">
    <Map t="map" f="nolabel"/>
  </Map>
  <search/>
</Start>

<Setup_Trap>
  <fmt>{{Place_name}} {{What_type_of_trap}} {{Date}} {{Time}}</fmt>
  <Setting_up>
    <Date/>
    <Time/>
    <author>Who is putting out traps?</author>
    <Other_people/>
    <Place_name/>
    <What_type_of_trap>
      What type of trap?
      <!--@SOURCE: vocab/trap-type.xml-->
    </What_type_of_trap>
    <gps/>
  </Setting_up>
</Setup_Trap>

<Check_Trap>
  <fmt>{{What_trap_are_you_checking}} {{What_did_you_find_in_trap}} {{Date}} {{Time}}</fmt>
  <Checking>
    <Date/>
    <Time/>
    <author>Who is checking?</author>
    <What_trap_are_you_checking>
      What trap are you checking?
      <!--@SOURCE: vocab/trap-type.xml-->
    </What_trap_are_you_checking>
    <What_did_you_find_in_trap>
      What did you find in trap?
      <!--@SOURCE: vocab/animal-type.xml-->
    </What_did_you_find_in_trap>
    <Species_Name/>
    <Take_Photo t="camera"/>
    <Talk_about_animal t="audio"/>
    <YMR_Tissue_Number b="decimal"/>
    <Snout_to_vent_length_mm b="decimal">
      Snout to vent length (mm)
    </Snout_to_vent_length_mm>
    <Found_something_else/>
    <gps/>
    <How_many_Cane_toads b="decimal">
      How many Cane toads?
    </How_many_Cane_toads>
  </Checking>
</Check_Trap>

<Animal_outside>
  <fmt>{{Animal_outside_trap}} {{Date}} {{Time}}</fmt>
  <Animal>
    <Date/>
    <Time/>
    <author>Who is recording?</author>
    <Animal_outside_trap>
      <!--@SOURCE: vocab/animal-type.xml-->
    </Animal_outside_trap>
    <Type_Name/>
    <Take_Photo t="camera"/>
    <Talk_about_animal t="audio"/>
    <gps/>
  </Animal>
</Animal_outside>

<DNA_Sample>
  <fmt>{{YMR_number}} {{Type_Name}} {{Date}} {{Time}}</fmt>
  <DNA_Sample>
    <Date/>
    <Time/>
    <Who_is_recording>Who is recording?</Who_is_recording>
    <YMR_number b="decimal"/>
    <Type_Name/>
    <Snout_to_vent_length_mm>Snout to vent length (mm)</Snout_to_vent_length_mm>
    <Take_Photo t="camera"/>
    <gps/>
  </DNA_Sample>
</DNA_Sample>

<Plant_Survey>
  <fmt>{{Type_plant_name}} {{Date}} {{Time}}</fmt>
  <Plant>
    <Date/>
    <Time/>
    <author>Who is recording?</author>
    <Type_plant_name/>
    <Take_Photo t="camera"/>
    <gps/>
  </Plant>
</Plant_Survey>

<Cultural_Knowledge>
  <fmt>{{Who_is_talking}} {{Date}} {{Time}}</fmt>
  <Cultural_Knowledge>
    <Date/>
    <Time/>
    <author>Who is recording?</author>
    <Who_is_talking>Who is talking?</Who_is_talking>
    <What_is_being_talked_about>What is being talked about?</What_is_being_talked_about>
    <Record_knowledge_now t="audio"/>
    <gps/>
    <Write_down_notes_here/>
  </Cultural_Knowledge>
</Cultural_Knowledge>

<Notes>
  <fmt>{{author}} {{Date}} {{Time}}</fmt>
  <Notes>
    <Date/>
    <Time/>
    <author>Who is recording?</author>
    <Notes/>
    <Take_Photo t="camera"/>
    <gps/>
  </Notes>
</Notes>


<Tracklog f="noui">
  <fmt>{{TracklogTeam}} {{Timestamp}}</fmt>
  <Tracklog>
    <Timestamp/>
    <TracklogTeam/>
    <Latitude/>
    <Longitude/>
    <Heading/>
    <Accuracy/>
  </Tracklog>
</Tracklog>

<Transect_Point f="noui">
  <fmt>{{TracklogTeam}} {{Timestamp}}</fmt>
  <Transect_Point>
    <Timestamp/>
    <TracklogTeam/>
    <State/>
    <Latitude/>
    <Longitude/>
    <Heading/>
    <Accuracy/>
  </Transect_Point>
</Transect_Point>

<logic><![CDATA[
<!--@SOURCE: logic/shared.bsh-->
<!--@SOURCE: logic/sync-disable.bsh-->
<!--@SOURCE: logic/tracklog-guide.bsh-->
<!--@SOURCE: logic/tracklog.bsh-->
<!--@SOURCE: logic/date-time-population.bsh-->
<!--@SOURCE: logic/map.bsh-->
<!--@SOURCE: logic/custom-search.bsh-->
]]></logic>

</module>
